nginx:
    image: nginx:1.9
    volumes:
        - .:/app:ro
        - ./docker/nginx/conf.d:/etc/nginx/conf.d:ro
    ports:
        - "80:80"
    links:
        - php

php:
    build: ./docker/php
    volumes:
        - .:/app
    links:
        - mysql:db

mysql:
    image: mysql:5.6
    environment:
        - MYSQL_ALLOW_EMPTY_PASSWORD=yes
        - MYSQL_DATABASE=syno_package
    volumes_from:
        - datamysql

tools:
    build: ./docker/tools
    volumes:
        - .:/app
    links:
        - mysql:db

datamysql:
     image: busybox
     volumes:
        - /var/lib/mysql
